<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script th:inline="javascript">
        var postId = /*[[${post.id}]]*/ null;
    </script>
    <script>
        $(document).ready(function() {
            $(".refactore").click(function(event) {
                event.preventDefault();
                if (postId !== null) {
                    var url = "/edit?id=" + encodeURIComponent(postId);
                    window.location.href = url;
                }
            });
        });
    </script>

</head>
<body>
<div>
    <div th:if="${post != null}">
        <p th:text="'title: ' + ${post.title}"></p>
        <p th:text="${post.detail}"></p>
        <form th:action="@{/edit}" method="post">
            <input type="hidden" name="id" th:value="${post.id}" />
            <button type="submit" class="refactore" data-post-id="${post.id}">수정</button>
        </form>
        <form th:action="@{/delete}" method="post">
            <input type="hidden" th:name="id" th:value="${post.id}" />
            <button type="submit">삭제</button>
        </form>
    </div>
</div>
<button onclick="goBack()">뒤로가기</button>
<script>
    function goBack() {
        window.location.href = "/"
    }
</script>
</body>
</html>